@font-face {
    font-family: spaceFont;
    src: url("src/fonts/nasalization-rg.ttf")
}

body { 
    margin: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: spaceFont;
    background-color: #080808;
}

canvas { 
    width: 100%; 
    height: 100% 
}

#title {
    position: absolute;
    top: 0px;
    margin-top: 15px;
    font-size: 80px;
    font-family: spaceFont;
    color: white;
    text-shadow: 0 0 20px #007CFF;
}

#start-btn{
    position: absolute;
    bottom: 150px;
    font-family: spaceFont;
    color: white;
    font-size: 64px;
    width: 240px;
    height: 80px;
    border-radius: 8px;
    border-color: #007CFF;
    background-color: rgba(20,20,20);
    cursor: pointer;
    box-shadow: 0 0 10px #007CFF;
    outline: none;
}

#start-btn:hover {
    color: gray;
}

#retry-btn {
    position: absolute;
    bottom: 150px;
    font-family: spaceFont;
    color: red;
    font-size: 64px;
    width: 240px;
    height: 80px;
    border-radius: 8px;
    border-color: red;
    background-color: rgba(20,20,20);
    cursor: pointer;
    box-shadow: 0 0 10px red;
    outline: none;
}

#retry-btn:hover {
    color: #007CFF;
    border-color: #007CFF;
    box-shadow: 0 0 10px #007CFF;
}

#score{
    position: absolute;
    top: 30px;
    font-size: 32px;
    font-family: spaceFont;
    color: white;
    text-shadow: 0 0 4px #FFFFFF;
}

.hidden {
    display: none;
}

.directions {
    position: absolute;
    font-family: spaceFont;
    color: white;
    top: 50px;
}

#directions-container {
    position: absolute;
    top: 140px;
    font-family: spaceFont;
    text-align: center;
    padding: 10px;
    color: white;
    width: 460px;
    height: auto;
    border-radius: 8px;
    border-color: #007CFF;
    background-color: rgba(20,20,20);
    box-shadow: 0 0 10px #007CFF;
}

#links {
    position: absolute;
    bottom: 20px;
    display: flex;
    color: white;
}
 
#icon {
    font-size: 50px;
    padding: 15px;
    cursor: pointer;
}

#icon:hover {
    text-shadow: 0 0 20px #007CFF;
}

#game-over {
    position: absolute;
    bottom: 400px;
    color: red;
    font-size: 120px;
    font-family: spaceFont;
    text-shadow: 0 0 20px red;

}